.specBox:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 48px 0 rgba(133, 48, 230, 0.6), 0 6px 40px 0 rgba(133, 48, 230, 0.6);
}
.specBox{
    transition: all 0.3s;
    border-radius: 10px !important;
}